<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

        {% include header.html %}

        <div class="page-content">
            <div class="wrapper">
                <div class="content-wrapper">
                    <!--
                    <div class="feature banner top">
                        {% include banner.html %}
                    </div>
                    -->
                    <div class="content">
                        {{ content }}
                    </div>
                    <!--
                    <div class="feature banner bottom">
                        {% include banner.html %}
                    </div>
                    -->
                    {% include comments.html %}
                </div>
                <!--
                {% include sidebar.html %}
                -->
            </div>
        </div>

        {% include footer.html %}

    </body>

</html>
